body
{
	background-color: beige;
}

h2
{
	font-family: sans-serif;
	font-size: 1.5em;
	margin: 0;
}
h4
{
	font-size: 2.1em;
	font-family: fantasy;
	margin-bottom: 0;
}
.voteavis{
	width: auto;
	padding-bottom: 5px;
}
.ancien_prix {
  text-decoration: line-through;
  color: red;
	font-style: italic;
  margin-right: 1em;
  float: left;
}

.prix_promo {
  color: green;
}

.paragraphes {
	padding-top: 1em;
}

.img_article {
	border: solid darkgray 1.9px;
	width: 100%;
	height: auto;
}

.cadre-article
{
	display: inline-flex;
}

.description-article
{
	padding-left: 2em;
	margin-right: 9em;
}

.prix-article-promo
{
	margin-top: 5em;
  min-width: 280px;
}

.prix-article
{
	margin-top: 5em;
  min-width: 200px;
}

.cadre-image-article
{
	width: 35%;
  min-width: 200px;
	max-width: 350px;
}

.h2_name {
	font-size: 1.3em;
}
ul.note_produit{
	margin:0;
	padding:0;
	font:.75em/1.2 Arial, Helvetica, sans-serif;
}
ul.note_produit li{
	float: left;
	margin:0;
	padding: 0;
	list-style:none;
	min-width:20px;
	min-height:20px;
}
ul.note_produit li label{
	display: block;
	text-align: center;
	line-height: 20px;
	background:center top no-repeat url("../../images/etoiles.gif");
	cursor:pointer;
}
ul.note_produit li.note-off label{
	background-position: center -60px;
}
.noteselect{
width: 5% !important;


}
